/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Scope One', serif; */

body{
    background-color: rgb(238, 196, 157);
    
}
.logo{
    padding-left: 20px;
    margin: 10px;
    padding-top: 20px;
}
.imagenes{
    padding-left: 10px;
    margin-left: 10px;
    margin-top: 10px;
}
.img-mine{
   margin-left: 150px;
  
}
.img-mine-1{
    margin-top: 30px;
    margin-left: 25px;
    padding-left: 20px;
}
 .img-mine-2{
    margin-top: 30px;
 }


h1{
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    padding-left: 600px;
    margin: 60px;
    margin-top: 20px;
    margin-bottom: 70px;
}
h2{
    font-style: normal;
    margin: 30px;
}
p{
    margin: 60px;
}
.fontletra{
font-family: 'Scope One', serif;
font-size: larger;
}

.navbar-mine{
    padding-right: 20px;
    margin-bottom: 50px;
}
h3{
    margin: 30px;
    font-family: 'Montserrat', sans-serif;
}
.div-mine{
    margin: 50px;
    font-size: larger;
    font-style: italic;
    text-align: center;
}
.h1-mine{
    margin-top: 80px;
    margin-left: 20px;
    text-align: left;
    font-family: 'Montserrat', sans-serif ; 
    font-size: medium;    
}
.espacio-mine{
   font-family: 'Montserrat', sans-serif;
   margin: 0%;
    
}
.espacios2-mine{
    margin-top: 0%;
}
.clientes{
    text-align: center;
}
.cliente{
    margin: 20px;
}
.cliente1{
    margin: 20px;
    border-color: rgb(0, 0, 0);
}
.cliente2{
    margin: 20px;
    border-color: rgb(0, 0, 0);
}
.cliente3{
    margin: 20px;
    border-color: rgb(0, 0, 0);
}
.cliente4{
    margin: 20px;
    border-color: rgb(0, 0, 0);
}
.cliente5{
    margin: 20px;
    border-color: rgb(0, 0, 0);
}

.staff-mine{
    text-align: center;
    font-family: 'Montserrat', sans-serif;

}
.p-staff{
    margin-bottom: 10px;
    
}
.staffs{
    margin-left: 58px;
    margin-bottom: 20px;
    border-color: rgb(0, 0, 0);
}
.despe{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 20px;
}